<label for="order">Order: </label>
  <select name="order" id="order" [(ngModel)]="params['order']">
    <option value="random">RANDOM</option>
    <option value="asc">ASC</option>
    <option value="desc">DESC</option>
</select>


<label for="categories">Category: </label>
<select name="categories" id="categories" [(ngModel)]="params['category_ids']">
  <option value="">None</option>
  <option *ngFor="let item of categoriesArr" value="{{item['id']}}"> {{item['name']}}</option>
</select>

<label for="breeds">Breeds: </label>
  <select name="breeds" id="breeds" [(ngModel)]="params['breed_id']">
    <option value="">None</option>
    <option *ngFor="let item of breedArr" value="{{item['id']}}"> {{item['name']}}</option>
</select>

<label for="breeds">Per page: </label>
  <select name="breeds" id="breeds" [(ngModel)]="params['limit']">
    <option value="9">9</option>
    <option value="18">18</option>
    <option value="80">80</option>
</select>


<button (click)="loadImages()">MORE</button>

<div *ngFor="let cat of catArr">
  <img [src]="cat?.url" />
  <button (click)="likeCat(cat.id)">FAV IT</button>
</div>