<div class="container">
  <nav
    mat-tab-nav-bar
    [backgroundColor]="'primary'">
    <a mat-tab-link [routerLink]="'/login'"> LOGIN </a>
    <a mat-tab-link [disabled]="isDisabled" [routerLink]="'/'"> VOTE </a>
    <a mat-tab-link [disabled]="isDisabled" [routerLink]="'/search'"> SEARCH </a>
    <a mat-tab-link [disabled]="isDisabled" [routerLink]="'/favorites'"> FAVORITES </a>
    <a mat-tab-link [disabled]="isDisabled" [routerLink]="'/upload'"> UPLOAD </a>
  </nav>
  <router-outlet></router-outlet>
</div>
