

.vote-btn{
    display: flex;
    justify-content: center;
}

.vote-btn button{
    width:100px;
    margin: 20px;
    border: none;
    padding: 10px;
}

.content{
    width:80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border:solid 1px black;
}

.content img{
    width: 180px;
    height:180px;
    margin: 10px auto;
}

.content button{
    width:100%;
    height:40px;
    border:none;
}